body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
    color: #333;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
h1, h2 {
    color: #007bff;
    text-align: center;
}
.question {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f7f7f7;
}
.answers {
    margin-top: 10px;
}
.answer {
    margin-bottom: 10px;
}
.pagination {
    text-align: center;
    margin-top: 30px;
}
.pagination button {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.pagination button:hover {
    background-color: #0056b3;
}
#temporizador {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #ff0000;
}
