{% extends "base.html" %}
{% load custom_filters %}

{% block content %}
<div class="container">
    <h2>Lista de Usuarios Inscritos</h2>
    
    <!-- Formulario de búsqueda -->
    <form method="get" action="">
        <div class="form-group">
            <input type="text" name="search" value="{{ search_query }}" placeholder="Buscar por nombre o cédula" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    <!-- Tabla de usuarios -->
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre de Usuario</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in page_obj %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.get_full_name }}</td> <!-- Puedes usar get_full_name si está disponible -->
                <td>{{ usuario.email }}</td>
                <td>
                    <div class="actions">
                        {% with user_exam=user_exams|get_item:usuario.id %}
                            {% if user_exam %}
                                <p>Examen: {{ user_exam.examen.nombre }}</p>
                                <p>Estado: {{ user_exam.estado }}</p>
                                <p>Nota: {{ user_exam.nota }}</p>
                            {% else %}
                                <p>No hay examen asociado</p>
                            {% endif %}
                        {% endwith %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Paginación -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1{% if search_query %}&search={{ search_query }}{% endif %}">&laquo; primera</a>
                <a href="?page={{ page_obj.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}">anterior</a>
            {% endif %}

            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}">siguiente</a>
                <a href="?page={{ page_obj.paginator.num_pages }}{% if search_query %}&search={{ search_query }}{% endif %}">última &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}

